*.class
*.log
*.un~
*~
.cache/
.history/
.lib/
.netrwhist
.scala_dependencies
.worksheet
Session.vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
dist/*
lib_managed/
project/boot/
project/plugins/project/
src_managed/
target/
.idea/
.idea_modules/
.java-version
